<aside class="side-nav">
  <ul>
    <li><a href="/admin">Overview</a></li>
    <li>Burgers
      <ul>
        <a href="/admin/burgers"><li>list all</li></a>
        <a href="/admin/burgers/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Restaurants
      <ul>
        <a href="/admin/restaurants"><li>list all</li></a>
        <a href="/admin/restaurants/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Discounts
      <ul>
        <a href="/admin/discounts"><li>list all</li></a>
        <a href="/admin/discounts/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Deals
      <ul>
        <a href="/admin/deals"><li>list all</li></a>
        <a href="/admin/deals/new"><li>create new</li></a>
      </ul>
    </li>
  </ul>
</aside>


<main class="display"> 
  <div class="container"> 
    <div class="row">
      <div class="six columns offset-by-three">
        <h3>Burgers in deal</h3>
        <table class="u-full-width">
          <tr>
            <th>Burger Name</th>
            <th>Burger Price</th>
            <th>Restaurant Name</th>
            <th></th>
          </tr>
          <% @deal.burgers.each do |burger| %>
          <tr>
            <td><%= burger.name %></td>
            <td><%= burger.price %></td>
            <td><%= burger.restaurant.name %></td>
            <td><form method="post" class="no-marg" action="/admin/deals/<%= @deal.id %>/delete-burger/<%= burger.id %>">
              <input type="hidden" name="_method" value="delete">
              <button class="button button-danger">Delete</button>
            </form></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="six columns offset-by-three">
        <form method="post" action="/admin/deals/<%= @deal.id %>/add-burger">
          <h3>Add burger to deal</h3>
          <div class="row">
            <div class="form-group nine columns">
              <label for="burger_select">Burger</label>
              <select id="burger_select" name="burger_id">
                <% @burgers.each do |burger| %>
                <option value ="<%= burger.id %>" >
                  <%= burger.restaurant.name %> - <%= burger.name %>
                </option>
                <% end %>
              </select>
            </div>
            <div class="form-group three columns">
              <input class="button button-primary submit-burger" type="submit" name="submit" value="Add Burger">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="six columns offset-by-three">
        <div class="form-group">
          <form method="post" action="/admin/deals/<%= @deal.id %>">
            <input type="hidden" name="_method" value="delete">
            <button class="button button-danger">Delete Deal</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>