

<aside class="side-nav">
  <ul>
    <li><a href="/admin">Overview</a></li>
    <li>Burgers
      <ul>
        <a href="/admin/burgers"><li>list all</li></a>
        <a href="/admin/burgers/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Restaurants
      <ul>
        <a href="/admin/restaurants"><li>list all</li></a>
        <a href="/admin/restaurants/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Discounts
      <ul>
        <a href="/admin/discounts"><li>list all</li></a>
        <a href="/admin/discounts/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Deals
      <ul>
        <a href="/admin/deals"><li>list all</li></a>
        <a href="/admin/deals/new"><li>create new</li></a>
        <a href="/admin/deals/add_burger"><li>add burger</li></a>
      </ul>
    </li>
  </ul>
</aside>

<main class="display">
  <div class="row">
    <div class="container small">
      <div class="twelve columns">
        <h5>Deals</h5>
        <table class="u-full-width">
          <tr>
            <th><a href="/admin/deals">Deal Name</a></th>
            <th><a href="/admin/deals_by_restaurant">Restaurant Name</a></th>
            <th>Discount Name</th>
            <th>Discount Amount</th>
            <th>Burgers</th>
            <th>Day</th>
            <th></th>
          </tr>
          <% @deals.each do |deal| %>
          <tr>
            <td><%= deal.name %></a></td>
            <td><%= deal.burger.restaurant.name %></td>
            <td><%= deal.discount.name %></td>
            <td class="center"><%= deal.discount.multiplier %></td>
            <td class="center"><%= deal.burger_count %></td>
            <td><%= deal.day.capitalize %></td>
            <td><a href="/admin/deals/<%= deal.id %>/edit" class="button button-primary">Edit</a>

            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </main>

