<section class="deals">
  <div class="container">
    <div class="today">
      <h4>Today's Deals</h4>
      <!-- <div class="row"> -->
        <% @deals.each do |deal|  %>
          <!-- CREATE NEW DEAL METHOD TO HANDLE DAY SELECTION -->
          <a href="/deals/<%= deal.id %>">
            <div class="three columns tile">
              <div class="tile-image" style="background-image: url('/images/burgers/<%= deal.burger.photo_url %>');"></div>
              <div class="tile-overlay">
                <h4><%= deal.name %></h4>
                <h5><%= deal.restaurant.name %></h5>
                <p class="muted"><del>£<%= deal.burger.price %></del></p>
                <p class="final-price">£<%= deal.final_price %></p>
              </div>
            </div>
          </a>
        <% end %> 
      <!-- </div> -->
    </div>
  </div>
</section>