

<aside class="side-nav">
  <ul>
    <li><a href="/admin">Overview</a></li>
    <li>Burgers
      <ul>
        <a href="/admin/burgers"><li>list all</li></a>
        <a href="/admin/burgers/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Restaurants
      <ul>
        <a href="/admin/restaurants"><li>list all</li></a>
        <a href="/admin/restaurants/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Discounts
      <ul>
        <a href="/admin/discounts"><li>list all</li></a>
        <a href="/admin/discounts/new"><li>create new</li></a>
      </ul>
    </li>
    <li>Deals
      <ul>
        <a href="/admin/deals"><li>list all</li></a>
        <a href="/admin/deals/new"><li>create new</li></a>
      </ul>
    </li>
  </ul>
</aside>

<main class="display"> 
  <div class="container small">
    <h3>Edit Burger</h3>
    <form class="offset-by-three" method="post" action="/admin/burgers/<%= @burger.id %>">
      <input type="hidden" name="_method" value="put">
      <div class="row">
        <div class="one-half column">
          <div class="form-group">
            <label for="restaurant_select">Restaurant Name</label>
            <select id="restaurant_select" name="restaurant_id">
              <% @restaurants.each do |restaurant| %>
              <option value ="<%= restaurant.id %>" <%= "selected" if @burger.restaurant_id == restaurant.id %> >
                <%= restaurant.name %>
              </option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="one-half column">
          <div class="form-group">
            <label for="burger_name">Burger Name</label>
            <input type="text" name="name" id="burger_name" value="<%= @burger.name%>">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <div class="form-group">
            <label for="burger_type_select">Type</label>
            <select id="burger_type_select" name="type">
              <% @burgers.each do |burger| %>
              <option value ="<%= burger.type %>" <%= "selected" if @burger.type == burger.type %> >
                <%= burger.type.capitalize %>
              </option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="four columns">
          <div class="form-group">
            <label for="burger_price">Price</label>
            <input min=0 step="0.01" type="number" name="price" id="burger_price" value="<%= @burger.price%>">
          </div>
        </div>
        <div class="four columns">
          <div class="form-group">
            <label for="file_name">File name</label>
            <input type="text" name="photo_url" id="file_name" value="<%= @burger.photo_url%>">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <div class="form-group">
            <label for="burger_description">Description</label>
            <textarea rows="10" id=" burger_description" name="description"><%= @burger.description%></textarea>
          </div>
        </div>
      </div>

        <div class="row">
            <div class="three columns offset-by-two">
              <div class="form-group">
                <input type="submit" name="submit" value="Submit" class="button button-primary">
              </div>
            </div>
            <div class="three columns">
              <div class="form-group">
                <a class="button" href="/admin/burgers">Cancel</a>
              </div>
            </div>
          </form> 
          <div class="three columns">
            <div class="form-group">
              <form method="post" action="/admin/burgers/<%= @burger.id %>">
                <input type="hidden" name="_method" value="delete">
                <button class="button button-danger">Delete</button>
              </form>
            </div>
          </div>
    </div>
  </div>
</main>

