<section class="show">
  <div class="container">
    <h3>Burger Details</h3>
    <div class="row">
      <div class="four columns tile">
        <div class="tile-image" style="background-image: url('/images/burgers/<%= @burger.photo_url %>');"></div>
      </div>
      <div class="four columns ">
        <div class="deal details">
          <h4><%= @burger.name %></h4> 
          <h5>£<%= @burger.price %></h5> 
          <h5><a href="/restaurants/<%= @burger.restaurant.id %>"> <%= @burger.restaurant.name %> </a> </h5>
          <div class="restaurant-bio">
            <h6>Description: </h6>
            <p><%= @burger.description %></p>
          </div>
        </div>
      </div>
      <div class="four columns">
        <div class="deal details">
          <h4>Restaurant Details</h4>
          <h6><%= @burger.restaurant.name %></h6>
          <p><%= @burger.restaurant.address %></p>
          <p><a href="tel:<%= @burger.restaurant.tel %>"><%= @burger.restaurant.tel %></a></p>
          <p><a href="mailto:<%= @burger.restaurant.email %>"><%= @burger.restaurant.email %></a></p>
          <div class="restaurant-bio">
            <h6>Description: </h6>
            <p><%= @burger.restaurant.bio %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h3>Deals that include <%= @burger.name %></h3>
      <% @burger.deals.each do |deal| %>
        <a href="/deals/<%= deal.id %>">
        <div class="three columns tile">
          <div class="tile-image" style="background-image: url('/images/burgers/<%= deal.burger.photo_url %>');"></div>
          <div class="tile-overlay">
            <h4><%= deal.name %></h4>
            <h5><%= deal.burger.restaurant.name %></h5>
            <h6><%= deal.discount.name %></h6>
            <p class="bottom-right"><%= deal.day.capitalize %></p>
            <p class="muted"><del>£<%= deal.burger.price %></del></p>
            <p class="final-price">£<%= deal.final_price %></p>
          </div>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</section>