<section class="show">
  <div class="container">
    <h3>Restaurant Details</h3>
    <div class="row">
      <div class="four columns tile">
        <div class="tile-image" style="background-image: url('/images/logos/<%= @restaurant.logo_url %>');"></div>
      </div>
      <div class="four columns">
        <div class="deal details ">
          <h6 class="sub-header">Address:</h6>
          <h6><%= @restaurant.name %></h6>
          <p><%= @restaurant.address %></p>
          <p><a href="tel:<%= @restaurant.tel %>"><%= @restaurant.tel %></a></p>
          <p><a href="mailto:<%= @restaurant.email %>"><%= @restaurant.email %></a></p>
          
        </div>
      </div>
      <div class="four columns">
        <div class="restaurant-bio">
            <h6>Description:</h6>
            <p><%= @restaurant.bio %></p>
          </div>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container">
    <div class="row">
      <h3>Burgers available at <%= @restaurant.name %></h3>
      <% @restaurant.burgers.each do |burger| %>
      <a href="/burgers/<%= burger.id %>">
        <div class="three columns tile">
          <div class="tile-image" style="background-image: url('/images/burgers/<%= burger.photo_url %>');"></div>
          <div class="tile-overlay">
            <h4><%= burger.name %></h4>
            <p class="final-price">£<%= burger.price %></p>
          </div>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3>Current Deals</h3>
    <div class="row">
      <% @restaurant.deals.each do |deal| %>
      <a href="/deals/<%= deal.id %>">
        <div class="three columns tile">
          <div class="tile-image" style="background-image: url('/images/logos/<%= deal.restaurant.logo_url %>');"></div>
          <div class="tile-overlay">
            <h4><%= deal.name %></h4>
            <h5><%= deal.restaurant.name %></h5>
            
            <p class="bottom-right"><%= deal.day.capitalize %></p>
            <p class="final-price"><%= deal.discount.name %></p>          
          </div>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</section>